@font-face {
  @font-face {
    font-family: "Futura";
    src: url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.eot");
    src: url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.woff") format("woff"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.svg#Futura") format("svg");
  }
}

:root {
  --nice-yellow: #FFC72A;
  --nice-orange: #F15A29;
  --nice-brown: #603913;
  --nice-white: #FFFFFF;
  --form-text-color: grey;
  --the-rem-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
  font-size: var(--the-rem-size);
}

html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  font-family: "Futura";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body h4,
body p {
  font-size: 1rem;
}

body h3 {
  font-size: 1.3rem;
}

body h2 {
  font-size: 1.5rem;
}

body h1 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
}

.header {
  height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--nice-brown);
}

.header a {
  width: 35%;
}

.header a img {
  width: 100%;
}

.info-block h4 {
  font-weight: 500;
}

.info-block a {
  color: var(--nice-brown);
}

.meBold {
  font-weight: 600;
}

.the-grid {
  display: -ms-grid;
  display: grid;
  width: 100;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 25px;
}

.yellow-bg {
  background-color: var(--nice-yellow);
  -ms-grid-column: 1;
  -ms-grid-column-span: 15;
  grid-column: 1 / 16;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
  z-index: -5;
}

.main-content p {
  z-index: 2;
}

p,
h2,
h3 {
  font-family: "Futura", "Arial", sans-serif;
  font-weight: 500;
}

.orange-bar {
  background-color: var(--nice-orange);
  z-index: -2;
}

.o1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

.o2 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10 / 11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

.brown-bar {
  background-color: var(--nice-brown);
  z-index: -2;
}

.b1 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

.b2 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

.box {
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  text-align: center;
}

.box p,
.box h2,
.box h3 {
  font-family: "Futura";
  color: var(--nice-brown);
}

.box-buy {
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3 / 14;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  min-height: 115px;
  padding: 0 100px;
}

.box-buy a {
  width: 78%;
}

.box-buy a img {
  padding-top: 20px;
  width: 100%;
}

.box-buy a p {
  padding-bottom: 15px;
}

.narrow-buy {
  display: none;
}

.box-insta {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-insta a {
  width: 70%;
}

.box-insta a img {
  width: 100%;
}

.insta-feed {
  width: 70%;
  height: 320px;
  overflow: auto;
}

.box-directions {
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-column: 9 / 15;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-directions a {
  width: 60%;
}

.box-directions a img {
  width: 100%;
}

.box-directions p {
  margin: 15px 0;
  line-height: 1.5em;
}

.box-wide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-column: 2 / 15;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.box-wide img {
  width: 40%;
  max-width: 500px;
  margin: 30px 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.box-connect {
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3 / 14;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 112px;
}

.box-connect a {
  width: 45px;
}

.box-connect a img {
  width: 100%;
}

.connect-image {
  width: 20%;
}

.box-alvarez {
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-column: 2 / 15;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-alvarez img {
  width: 40%;
  margin: 30px 0 30px 0px;
}

.box-alvarez iframe {
  width: 45%;
  padding: 30px 0;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
  background-color: var(--nice-brown);
}

.footer-text {
  -ms-grid-column: 4;
  -ms-grid-column-span: 12;
  grid-column: 4 / 16;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: var(--nice-white);
  margin: 15px 0 25px 0;
}

.footer-text ul {
  list-style-type: none;
  line-height: 1.5em;
}

.footer-text p {
  line-height: 1.5em;
}

.footer-text a:visited,
.footer-text a:link {
  color: var(--nice-white);
}

.footer-text a:hover {
  color: var(--nice-yellow);
}

.box-buy-instructions {
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-column: 2 / 15;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 30px 0;
}

.box-buy-instructions .wide-buy {
  width: 66%;
}

.policies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 15px;
}

.policies img {
  width: 33%;
}

.policy-text {
  width: 47%;
}

.policy-text p {
  line-height: 1.4;
  font-size: 16px;
}

.policy-text a {
  color: var(--nice-orange);
}

.box-contact {
  -ms-grid-column: 3;
  -ms-grid-column-span: 11;
  grid-column: 3 / 14;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 425px;
}

.box-contact img {
  padding: 20px 0;
  width: 30%;
}

.box-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  font-family: "Futura";
}

.box-contact form input {
  margin: 15px 0px;
  font-family: "Futura";
  border-color: var(--nice-brown);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: var(--form-text-color);
}

.box-contact form input::-webkit-input-placeholder,
.box-contact form textarea::-webkit-input-placeholder {
  color: var(--form-text-color);
}

.box-contact form input:-ms-input-placeholder,
.box-contact form textarea:-ms-input-placeholder {
  color: var(--form-text-color);
}

.box-contact form input::-ms-input-placeholder,
.box-contact form textarea::-ms-input-placeholder {
  color: var(--form-text-color);
}

.box-contact form input::placeholder,
.box-contact form textarea::placeholder {
  color: var(--form-text-color);
}

.box-contact button {
  background-color: var(--nice-brown);
  color: var(--nice-white);
  border-style: none;
  padding: 10px 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.box-contact textarea {
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-color: var(--nice-brown);
  color: var(--form-text-color);
  font-family: "Futura";
}

.box-contact .message-box {
  width: 100%;
  height: 25%;
}

.box-connect-buy {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  margin-bottom: -75px;
}

@media screen and (max-width: 1200px) {
  .box-buy {
    padding: 0 50px;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 14px;
  }
  .box-buy {
    padding: 0px;
  }
  .insta-feed {
    height: 245px;
  }
}

@media screen and (max-width: 805px) {
  .insta-feed {
    height: 205px;
  }
  .box-connect a {
    width: 40px;
  }
  .connect-image {
    width: 25%;
  }
  .policies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .policies img {
    width: 40%;
  }
  .policy-text {
    padding-top: 25px;
    width: 80%;
  }
  .box-contact img {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
  .header {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--nice-brown);
  }
  .header a {
    width: 70%;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .header a img {
    width: 100%;
  }
  .header .info-block {
    padding-bottom: 15px;
  }
  .the-grid {
    -ms-grid-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
        grid-template-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
    row-gap: 20px;
  }
  .yellow-bg {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 14;
    grid-row: 1 / 15;
  }
  .o1 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 14;
    grid-row: 1 / 15;
  }
  .o2 {
    display: none;
  }
  .b1 {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 14;
    grid-row: 1 / 15;
  }
  .b2 {
    display: none;
  }
  .narrow-buy {
    display: unset;
  }
  .wide-buy {
    display: none;
  }
  .box-buy a {
    width: 70%;
  }
  .box-buy a img {
    padding-top: 20px;
    width: 100%;
  }
  .box-buy a p {
    margin-top: 10px;
    padding-bottom: 15px;
  }
  .box-buy,
  .box-insta,
  .box-directions {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .insta-feed {
    height: 320px;
  }
  .box-buy-instructions {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    padding: 30px 0;
  }
  .box-buy-instructions .wide-buy {
    width: 66%;
  }
  .policies img {
    width: 66%;
  }
  .policy-text {
    width: 80%;
  }
  .box-contact {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 425px;
  }
  .box-directions {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6 / 7;
  }
  .box-wide {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8 / 9;
  }
  .box-connect {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10 / 11;
  }
  .box-connect-buy {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7 / 8;
    margin-bottom: -100px;
  }
  .box-alvarez {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12 / 13;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-alvarez img {
    width: 70%;
  }
  .box-alvarez img {
    margin-top: 25px;
  }
  .box-alvarez iframe {
    width: 85%;
    padding-bottom: 0px;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
        grid-template-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
  }
  .footer-text {
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4 / 8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 550px) {
  .insta-feed {
    height: 285px;
  }
}

@media screen and (max-width: 550px) {
  .insta-feed {
    height: 260px;
  }
}

@media screen and (max-width: 450px) {
  .the-grid {
    row-gap: 15px;
  }
  .box-buy {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .box-insta {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .insta-feed {
    height: 260px;
  }
  .box-directions {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .box-wide,
  .box-alvarez {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box-wide img,
  .box-alvarez img {
    width: 70%;
  }
  .box-wide img:nth-of-type(2),
  .box-alvarez img:nth-of-type(2) {
    margin-top: 0px;
  }
  .box-contact {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
  }
  .box-connect {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3 / 8;
  }
  .connect-image {
    display: none;
  }
  .box-alvarez img {
    width: 70%;
  }
}

@media screen and (max-width: 420px) {
  .insta-feed {
    height: 240px;
  }
}

@media screen and (max-width: 390px) {
  .the-grid {
    row-gap: 12px;
  }
  .insta-feed {
    height: 225px;
  }
}
/*# sourceMappingURL=styles.css.map */