@font-face {
  @font-face {
    font-family: "Futura";
    src: url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.eot");
    src: url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.woff") format("woff"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fd6e6c30c7d355528ba9428eea942445.svg#Futura") format("svg");
  }
}

//Variables
:root {
  --nice-yellow: #FFC72A;
  --nice-orange: #F15A29;
  --nice-brown: #603913;
  --nice-white: #FFFFFF;
  --form-text-color: grey;

  --the-rem-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
  font-size: var(--the-rem-size);
}

html,
body,
p,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

body {
  font-family: "Futura";
  display: flex;
  flex-direction: column;
  align-items: center;

  h4,
  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

}

.container {
  max-width: 1200px;
}

.header {
  height: 325px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--nice-brown);

  a {
    width: 35%;

    img {
      width: 100%;
    }
  }
}

.info-block {
  h4 {
    font-weight: 500;
  }

  a {
    color: var(--nice-brown);
  }
}

.meBold {
  font-weight: 600;
}

.the-grid {
  display: grid;
  width: 100;
  grid-template-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 25px;
}

.yellow-bg {
  background-color: var(--nice-yellow);
  grid-column: 1 / 16;
  grid-row: 1 / 13;
  z-index: -5;
}

.main-content p {
  z-index: 2;
}

p,
h2,
h3 {
  font-family: "Futura", "Arial", sans-serif;
  font-weight: 500;
}

.orange-bar {
  background-color: var(--nice-orange);
  z-index: -2;
}

.o1 {
  grid-column: 4 / 5;
  grid-row: 1 / 13;
}

.o2 {
  grid-column: 10 / 11;
  grid-row: 1 / 13;
}

.brown-bar {
  background-color: var(--nice-brown);
  z-index: -2;
}

.b1 {
  grid-column: 6 / 7;
  grid-row: 1 / 13;
}

.b2 {
  grid-column: 12 / 13;
  grid-row: 1 / 13;
}

.box {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
  text-align: center;

  p,
  h2,
  h3 {
    font-family: "Futura";
    color: var(--nice-brown);
  }
}



.box-buy {
  grid-column: 3 / 14;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  min-height: 115px;
  padding: 0 100px;

  a {
    width: 78%;

    img {
      padding-top: 20px;
      width: 100%;
    }

    p {
      padding-bottom: 15px;
    }
  }
}

.narrow-buy {
  display: none;
}

.box-insta {
  grid-column: 2 / 8;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  a {
    width: 70%;

    img {
      width: 100%;
    }
  }
}

.insta-feed {
  width: 70%;
  height: 320px;
  // height: 0px;
  // padding-top: 50%;
  overflow: auto;
}


.box-directions {
  grid-column: 9 / 15;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  a {
    width: 60%;

    img {
      width: 100%;
    }
  }

  p {
    margin: 15px 0;
    line-height: 1.5em;
  }
}

.box-wide {
  grid-column: 2 / 15;
  grid-row: 6 / 7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 40%;
    max-width: 500px;
    margin: 30px 0;
  }
}

// ---------------------------
// Hover Grow CSS
// ---------------------------

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// ---------------------------

.box-connect {
  grid-column: 3 / 14;
  grid-row: 8 / 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 112px;

  a {
    width: 45px;

    img {
      width: 100%;
    }
  }

}

.connect-image {
  width: 20%;
}

.box-alvarez {
  grid-column: 2 / 15;
  grid-row: 10 / 11;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  img {
    width: 40%;
    margin: 30px 0 30px 0px;
  }

  iframe {
    width: 45%;
    padding: 30px 0;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 15px 1fr 2fr 1fr 2fr 1fr 15px 1fr 1fr 1fr 1fr;
  background-color: var(--nice-brown);
}

.footer-text {
  grid-column: 4 / 16;
  grid-row: 2 / 3;
  color: var(--nice-white);
  margin: 15px 0 25px 0;

  ul {
    list-style-type: none;
    line-height: 1.5em;
  }

  p {
    line-height: 1.5em;
  }

  a:visited,
  a:link {
    color: var(--nice-white);
  }

  a:hover {
    color: var(--nice-yellow);
  }

}

//----Buy and Sell Page------

.box-buy-instructions {
  grid-column: 2 / 15;
  grid-row: 3 / 4;
  padding: 30px 0;

  .wide-buy {
    width: 66%;
  }
}

.policies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;

  img {
    width: 33%;
  }
}

.policy-text {
  width: 47%;

  p {
    line-height: 1.4;
    font-size: 16px;
  }

  a {
    color: var(--nice-orange);
  }
}

.box-contact {
  grid-column: 3 / 14;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 425px;

  img {
    padding: 20px 0;
    width: 30%;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-family: "Futura";

    input {
      margin: 15px 0px;
      font-family: "Futura";
      border-color: var(--nice-brown);
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      color: var(--form-text-color);
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--form-text-color);
    }
  }



  button {
    background-color: var(--nice-brown);
    color: var(--nice-white);
    border-style: none;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
  }

  textarea {
    margin-top: 10px;
    border-radius: 3px;
    resize: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--nice-brown);
    color: var(--form-text-color);
    font-family: "Futura";
  }

  .message-box {
    width: 100%;
    height: 25%;
  }
}

.box-connect-buy {
  grid-row: 7 / 8;
  margin-bottom: -75px;
}




//----Media Queries-----

@media screen and (max-width: 1200px) {
  .box-buy {
    padding: 0 50px;
  }
}

@media screen and (max-width: 950px) {
  html {
    font-size: 14px;
  }

  .box-buy {
    padding: 0px;
  }

  .insta-feed {
    height: 245px;
  }
}

@media screen and (max-width: 805px) {
  // html {
  //   font-size: 13px;
  // }

  .insta-feed {
    height: 205px;
  }

  .box-connect {
    a {
      width: 40px;
    }
  }

  .connect-image {
    width: 25%;
  }

  .policies {
    flex-direction: column-reverse;

    img {
      width: 40%;
    }
  }

  .policy-text {
    padding-top: 25px;
    width: 80%;
  }

  .box-contact {
    img {
      width: 40%;
    }
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 100vw;
  }

  .header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--nice-brown);

    a {
      width: 70%;
      padding-top: 30px;
      padding-bottom: 10px;

      img {
        width: 100%;
      }
    }

    .info-block {
      padding-bottom: 15px;
    }
  }

  .the-grid {
    grid-template-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
    row-gap: 20px;
  }

  .yellow-bg {
    grid-column: 1 / 10;
    grid-row: 1 / 15;
  }

  .o1 {
    grid-column: 4 / 5;
    grid-row: 1 / 15;
  }

  .o2 {
    display: none;
  }

  .b1 {
    grid-column: 6 / 7;
    grid-row: 1 / 15;
  }

  .b2 {
    display: none;
  }

  .narrow-buy {
    display: unset;
  }

  .wide-buy {
    display: none;
  }

  .box-buy {
    a {
      width: 70%;

      img {
        padding-top: 20px;
        width: 100%;
      }

      p {
        margin-top: 10px;
        padding-bottom: 15px;
      }
    }
  }

  .box-buy,
  .box-insta,
  .box-directions {
    grid-column: 3 / 8;
  }

  .insta-feed {
    height: 320px;
  }

  .box-buy-instructions {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
    padding: 30px 0;

    .wide-buy {
      width: 66%;
    }
  }

  .policies {

    img {
      width: 66%;
    }
  }

  .policy-text {
    width: 80%;
  }


  .box-contact {
    grid-column: 3 / 8;
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 425px;
  }

  .box-directions {
    grid-row: 6 / 7;
  }

  .box-wide {
    grid-column: 2 / 9;
    grid-row: 8 / 9;
  }

  .box-connect {
    grid-column: 3 / 8;
    grid-row: 10 / 11;
  }

  .box-connect-buy {
    grid-row: 7 / 8;
    margin-bottom: -100px;
  }

  .box-alvarez {
    grid-column: 2 / 9;
    grid-row: 12 / 13;
    flex-direction: column;

    img {
      width: 70%;
    }

    img {
      margin-top: 25px;
    }

    iframe {
      width: 85%;
      padding-bottom: 0px;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 5% 5% 20% 15% 10% 15% 20% 5% 5%;
  }

  .footer-text {
    grid-column: 4 / 8;
    grid-row: 2 / 3;
  }

}

@media screen and (max-width: 550px) {
  .insta-feed {
    height: 285px;
  }
}

@media screen and (max-width: 550px) {
  .insta-feed {
    height: 260px;
  }
}

@media screen and (max-width: 450px) {

  .the-grid {
    row-gap: 15px;
  }

  .box-buy {
    grid-column: 3 / 8;
  }

  .box-insta {
    grid-column: 2 / 9;
  }

  .insta-feed {
    height: 260px;
  }

  .box-directions {
    grid-column: 2 / 9;
  }

  .box-wide,
  .box-alvarez {
    grid-column: 2 / 9;
    flex-direction: column;

    img {
      width: 70%;
    }

    img:nth-of-type(2) {
      margin-top: 0px;
    }

  }

  .box-contact {
    grid-column: 2 / 9;
  }

  .box-connect {
    grid-column: 3 / 8;
  }

  .box-connect-buy {
    margin-bottom: -75px;
  }

  .connect-image {
    display: none;
  }

  .box-alvarez {
    img {
      width: 70%;
    }
  }

}

@media screen and (max-width: 420px) {
  .insta-feed {
    height: 240px;
  }
}

@media screen and (max-width: 390px) {

  .the-grid {
    row-gap: 12px;
  }

  .insta-feed {
    height: 225px;
  }

  .box-connect-buy {
    margin-bottom: -60px;
  }
}